{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
function allow(item)
{	

	var parent=item.parentNode;
	var grandparent=parent.parentNode;
 
	 
	 
	var data={'id':grandparent.id,'choice':1}
	jQuery.ajax(
   {
      type: "POST",


      dataType: "json",
      data: JSON.stringify(data),
       contentType: 'application/json;charset=UTF-8',
      url: 'http://127.0.0.1:5000/admin',
      complete: function(xhr, statusText)
      {  alert('done');}})

	 $(item).parents('.wrap').remove();
}
	
function remove(item)
{	

	/*var parent=item.parentNode;
	var grandparent=parent.parentNode;
 
	 
	 
	var data={'id':grandparent.id,'choice':2}
	jQuery.ajax(
   {
      type: "POST",


      dataType: "json",
      data: JSON.stringify(data),
       contentType: 'application/json;charset=UTF-8',
      url: 'http://127.0.0.1:5000/admin',
      complete: function(xhr, statusText)
      {  alert('done');}})*/

	 $(item).parents('.wrap').remove();
}
	



</script>
<style type="text/css">

body{padding: 0px; margin: 0;}
.block{ width: 500px; height: 600px;  border-radius: 1em; margin-bottom: 5em; margin-top: 2em; background-color: #55C4BB; margin-left: auto; margin-right: auto;}
.header{width: 100%; height: 80px; padding: 1em;}

.controls{width: inherit;height: 80px;padding-top: 1em;   background-color: #444444; position: absolute;border-bottom-left-radius:.5em; border-bottom-right-radius:.5em; opacity: .8;}
button{ margin: 1em; width: 60px; height: 60px;}

.controls > p {display: none;}



</style>

 

<br/><br/>
	{% for image in images() %}
	{% if image.video %}
		<video src='{{image.video}}' width="500px" height="500px"></video>
	{% endif %}
<div class="wrap">
<div class="block" id="{{ image.pk }}">
	<div class="header"><h1> {{ image.header }}</h1></div>
	
	<img src="{{ image.img_path }}" width="{{ image.width }}"  height="{{ image.height }}" />
        
	 
<div class="controls" id="a">

	 <p id="demo"></p>
		<button onclick="allow(this)"> Allow</button>
		<button onclick="remove(this)"> Remove</button>
		 

	 

</div>
	 <br/>
 </div> <hr/>

 </div>	


 {% endfor %}



{% endblock %}
