 
<!DOCTYPE HTML>
<html>
<head>
<title>404 error page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link href="/jokecloud/static/error/style.css" rel="stylesheet" type="text/css" media="all" />
</head><body>
	 
	<div class="wrap">
		 
		<div class="content">
			 
			<div class="logo">
				<h1><a href="#"><img src="{{url_for('static',filename="/error/images/logo.png")}}"/></a></h1>
				<span><img src="/jokecloud/static/error/signal.png"/>Oops! The Page you requested was not found!</span>
			</div>
 
			 
			<div class="buttom">
				<div class="seach_bar">
					<p>you can go to <span><a href="{{ url_for('home') }}">home</a></span> page or search here</p>
					 
					
				</div>
			</div>
			 
		</div>
	
	</div>
	 
</body>
</html>